.space-wrapper {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 20px;
  }
  
  .space-wrapper.column-layout {
    flex-direction: column;
    align-items: center;
  }
  
  .space-wrapper.row-layout {
    flex-direction: row;
    align-items: flex-start;
  }
  
  .card-wrapper {
    flex: 1;
    width: 270px;
  }
  
  .textarea-no-resize {
    max-height: 226px;
    min-height: 120px;
  }
  