.space-fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    width: 300px;
  }
  
  .my-scrollable-list {
    resize: none;
    height: 100px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  